<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BoardDivContainerCSSSelector" value="div.vbI.XiG" />
        <add key="BoardImgCSSSelector" value="img.hCL.kVc.L4E.MIw" />
        <add key="BoardVideoCSSSelector" value="video.hwa kVc MIw L4E" />
        <add key="BoardPinIdSelector" value="div[data-test-pin-id]" />
        <add key="BasePinterestImageUrl" value="https://i.pinimg.com/" />
        <add key="BoardMoreLikeThisCSSSelector" value=".qQp > div:nth-child(1) > div:nth-child(1) > h2:nth-child(1)" />
        <add key="ProfileMoreIdeasCSSSelector" value=".GTB > div:nth-child(1) > div:nth-child(1)" />
    </appSettings>
</configuration>
