<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BoardDivContainerCSSSelector" value="div.vbI.XiG" />
        <add key="BoardImgCSSSelector" value="img.hCL.kVc.L4E.MIw" />
        <add key="BoardVideoCSSSelector" value="video.hwa kVc MIw L4E" />
        <add key="BoardPinIdSelector" value="div[data-test-pin-id]" />
        <add key="BasePinterestImageUrl" value="https://i.pinimg.com/" />
    </appSettings>
</configuration>